CREATE TABLE ARRANGE (
	JHID float,
	APR char(16),
	DJSJ datetime,
	FZR char(16),
	JH_START datetime,
	JH_STOP datetime,
	JHNR char(255),
	XMDM char(16),
	JHLX char(16),
	SFJY float,
	BMDM char(16));
INSERT INTO ARRANGE VALUES (
	2,
	'yh000',
	'5-10-2018 14:6:22.000',
	'yh006',
	'5-11-2018 14:6:11.000',
	'5-14-2018 14:6:15.000',
	'测试',
	'xm001',
	'个人计划',
	0,
	'1061601');
