CREATE TABLE BUSINESS (
	CCID float,
	XMDM char(16),
	CCLY char(64),
	CCR char(16),
	CC_START datetime,
	CC_STOP datetime,
	XC_START datetime,
	XC_STOP datetime,
	XCGJ char(16),
	XCFY char(16),
	ZSFY char(16),
	SNJTFY char(16),
	ZFY char(32),
	DJRQ datetime,
	WCZT char(16),
	REMARK char(255),
	SFJY float,
	BMDM char(16));
INSERT INTO BUSINESS VALUES (
	1,
	'xm001',
	'什么呢',
	'yh000',
	'5-7-2018 16:50:9.000',
	'5-10-2018 16:50:14.000',
	'5-10-2018 22:6:55.000',
	'5-10-2018 22:6:55.000',
	'1',
	'12',
	'12',
	'12',
	'36',
	'5-7-2018 16:50:29.000',
	'1',
	'无',
	0,
	'1061601');
INSERT INTO BUSINESS VALUES (
	2,
	'xm002',
	'没什么',
	'yh000',
	'5-8-2018 12:51:29.000',
	'5-8-2018 12:51:56.000',
	'5-10-2018 22:6:55.000',
	'5-10-2018 22:6:55.000',
	'1',
	'123',
	'123',
	'123',
	'369',
	'5-8-2018 12:53:27.000',
	'1',
	'美妙',
	0,
	'1061601');
INSERT INTO BUSINESS VALUES (
	3,
	'xm002',
	'无',
	'yh006',
	'5-9-2018 22:6:50.000',
	'5-10-2018 22:6:55.000',
	'5-10-2018 22:6:55.000',
	'5-10-2018 22:6:55.000',
	'2',
	'123',
	'1234',
	'1234',
	'2591',
	'5-8-2018 22:8:7.000',
	'1',
	'222',
	0,
	'1061601');
