CREATE TABLE DEPART (
	BMDM char(16),
	BMMC char(32),
	LASTUPDATE datetime,
	SFJY float);
INSERT INTO DEPART VALUES (
	'1061601',
	'开发部',
	'3-22-2018 0:0:0.000',
	0);
INSERT INTO DEPART VALUES (
	'106160101',
	'项目部',
	'3-22-2018 0:0:0.000',
	0);
INSERT INTO DEPART VALUES (
	'106160102',
	'运维部',
	'3-22-2018 0:0:0.000',
	0);
