CREATE TABLE EXAMINE (
	SHID float,
	TYPE char(16),
	SHDM char(16),
	SHR1 char(16),
	SHYJ1 char(16),
	SHSJ1 datetime,
	SHR2 char(16),
	SHYJ2 char(16),
	SHSJ2 datetime,
	REMARK char(64));
INSERT INTO EXAMINE VALUES (
	1,
	'请休假审核',
	'5000002',
	'yh001',
	'同意',
	'5-11-2018 0:0:0.000',
	'yh000',
	'同意',
	'5-11-2018 17:10:21.010',
	NULL);
INSERT INTO EXAMINE VALUES (
	2,
	'请休假审核',
	'5000003',
	'yh001',
	'同意',
	'5-11-2018 18:24:57.326',
	'yh000',
	'同意',
	'5-11-2018 18:25:16.096',
	NULL);
INSERT INTO EXAMINE VALUES (
	3,
	'请休假审核',
	'5000004',
	'yh001',
	'不同意',
	'5-11-2018 18:26:17.523',
	'yh001',
	NULL,
	NULL,
	NULL);
