CREATE TABLE EXPENSE (
	BXID float,
	XMDM char(16),
	BXFY char(32),
	BXYT char(32),
	BXR char(16),
	BXRQ datetime,
	WCZT char(16),
	REMARK char(64),
	SFJY float,
	BMDM char(16));
INSERT INTO EXPENSE VALUES (
	2,
	'xm002',
	'120',
	'车费',
	'yh000',
	'5-7-2018 16:22:59.000',
	'3',
	'无',
	0,
	'1061601');
INSERT INTO EXPENSE VALUES (
	3,
	'xm002',
	'123',
	'安抚',
	'yh006',
	'5-9-2018 14:41:29.000',
	'3',
	'123',
	0,
	'1061601');
INSERT INTO EXPENSE VALUES (
	5000002,
	'xm002',
	'134',
	'弯弯绕绕',
	'yh000',
	'5-11-2018 19:55:22.000',
	'4',
	'13',
	0,
	'1061601');
