CREATE TABLE JOURNAL (
	RZID float,
	DJR char(16),
	DJSJ datetime,
	RZNR char(255),
	SFJY float,
	BMDM char(16),
	DURATION char(16),
	RZSJ datetime);
INSERT INTO JOURNAL VALUES (
	1,
	'yh000',
	'5-10-2018 18:37:21.863',
	'测试',
	0,
	'1061601',
	'8',
	'5-10-2018 0:0:0.000');
INSERT INTO JOURNAL VALUES (
	5000002,
	'yh000',
	'5-11-2018 19:53:49.373',
	'123',
	0,
	'1061601',
	'9',
	'5-11-2018 0:0:0.000');
