CREATE TABLE LEAVE (
	QJID float,
	QJR char(16),
	QJ_START datetime,
	QJ_STOP datetime,
	WCZT char(16),
	REMARK char(255),
	SFJY float,
	BMDM char(16),
	DJSJ datetime);
INSERT INTO LEAVE VALUES (
	5000002,
	'yh006',
	'5-12-2018 0:0:0.000',
	'5-14-2018 0:0:0.000',
	'4',
	'测试',
	0,
	'1061601',
	'5-11-2018 0:0:0.000');
INSERT INTO LEAVE VALUES (
	5000003,
	'yh016',
	'5-12-2018 0:0:0.000',
	'5-13-2018 0:0:0.000',
	'4',
	'测试',
	0,
	'1061601',
	'5-11-2018 0:0:0.000');
INSERT INTO LEAVE VALUES (
	5000004,
	'yh006',
	'5-12-2018 0:0:0.000',
	'5-13-2018 0:0:0.000',
	'3',
	'测试',
	0,
	'1061601',
	'5-11-2018 0:0:0.000');
