CREATE TABLE MEETING (
	HYID float,
	HYFQR char(16),
	HYSJ datetime,
	DJSJ datetime,
	HYDZ char(64),
	HYBT char(64),
	HYNR char(255),
	REMARK char(64),
	SFJY float);
INSERT INTO MEETING VALUES (
	2,
	'yh000',
	'5-2-2018 0:0:0.000',
	'5-2-2018 19:58:36.000',
	'会议室',
	'会议通知',
	'为贯彻落实上级会议精神，总结回顾2012年工作，安排部署2013年工作，经研究，决定召开管理处工作会议暨职工迎春联欢会，现将有关事项通知如下',
	'wu',
	0);
INSERT INTO MEETING VALUES (
	3,
	'yh000',
	'5-2-2018 0:0:0.000',
	'5-2-2018 19:58:36.000',
	'会议室',
	'会议通知',
	'为贯彻落实上级会议精神，总结回顾2012年工作，安排部署2013年工作，经研究，决定召开管理处工作会议暨职工迎春联欢会，现将有关事项通知如下',
	'wu',
	0);
INSERT INTO MEETING VALUES (
	4,
	'yh000',
	'5-2-2018 0:0:0.000',
	'5-2-2018 19:58:36.000',
	'会议室',
	'会议通知',
	'为贯彻落实上级会议精神，总结回顾2012年工作，安排部署2013年工作，经研究，决定召开管理处工作会议暨职工迎春联欢会，现将有关事项通知如下',
	'wu',
	0);
