CREATE TABLE NOTIFY (
	GGID float,
	GGBT char(32),
	GGNR char(255),
	FQSJ datetime,
	FQR char(16),
	LASTUPDATE datetime,
	SFJY float);
INSERT INTO NOTIFY VALUES (
	1,
	'测试',
	'落霞与孤鹜齐飞，秋水共长天一色',
	'5-3-2018 0:0:0.000',
	'yh000',
	'5-3-2018 0:0:0.000',
	0);
INSERT INTO NOTIFY VALUES (
	2,
	'凉凉夜色',
	'来那个良夜色威尼斯年成河',
	'5-3-2018 14:13:2.000',
	'yh000',
	'5-3-2018 14:13:2.000',
	0);
INSERT INTO NOTIFY VALUES (
	3,
	'凉凉',
	'我愿做你爱的死囚，怎么说这首歌了，是一首很典型的苦情歌，让人听了有种很悲痛欲绝的感觉。但个人觉得这首歌的旋律不大适合庄心妍，我觉得她没有完全把这首歌想要表达的痛苦诠释出来，就让我承受许下那毒咒，这是一种爱到什么样的层度痛到什么样的绝望才能有这种念头啊，她?',
	'5-3-2018 14:33:37.000',
	'yh001',
	'5-3-2018 14:58:57.000',
	0);
