CREATE TABLE POSITION (
	ZWDM char(16),
	ZWMC char(32),
	SFJY float);
INSERT INTO POSITION VALUES (
	'0001',
	'boss',
	0);
INSERT INTO POSITION VALUES (
	'0101',
	'技术总监',
	0);
INSERT INTO POSITION VALUES (
	'010102',
	'项目经理',
	0);
