CREATE TABLE PROJECT (
	XMDM char(16),
	XMMC char(64),
	BBH char(16),
	LXRQ datetime,
	LXR char(16),
	XMXX char(255),
	REMARK char(64),
	FJMC char(64),
	FJGS char(16),
	FJDX float,
	FTPURL char(64),
	LASTUPDATE datetime,
	SFJY float);
INSERT INTO PROJECT VALUES (
	'xm001',
	'测试项目1',
	'1.0',
	'5-2-2018 10:19:27.000',
	'yh000',
	'办公自动化管理系统',
	'无',
	'InputStreamReaderDemo',
	'java',
	1.91,
	'/zh',
	'5-2-2018 10:19:27.000',
	0);
INSERT INTO PROJECT VALUES (
	'xm002',
	'测试项目2',
	'1.0',
	'5-2-2018 10:21:8.000',
	'yh000',
	'办公自动化管理系统',
	'无',
	'c3p0-config',
	'xml',
	1.41,
	'/zh',
	'5-2-2018 10:21:8.000',
	0);
