CREATE TABLE STAFF (
	YHDM char(16),
	YHZH char(16),
	YHKL char(16),
	YHXM char(32),
	CSRQ datetime,
	BMDM char(16),
	YHXB char(8),
	ZWDM char(16),
	ADDRESS char(64),
	PHONE char(32),
	EMAIL char(32),
	REMARK char(64),
	SFJY float);
INSERT INTO STAFF VALUES (
	'yh000',
	'admin',
	'admin',
	'管理员',
	'1-1-2000 0:0:0.000',
	'1061601',
	'女',
	'0001',
	'北京东城',
	'110',
	'110@qq.com',
	'比较流弊',
	0);
INSERT INTO STAFF VALUES (
	'yh001',
	'liubei',
	'liubei',
	'刘备',
	'1-1-1990 0:0:0.000',
	'1061601',
	'男',
	'0101',
	'四川省成都市',
	'13031209099',
	'120@qq.com',
	'蜀国',
	0);
INSERT INTO STAFF VALUES (
	'yh002',
	'zhangfei',
	'zhangfei',
	'张飞',
	'1-10-1999 0:0:0.000',
	'1061602',
	'男',
	'0201',
	'四川省成都市',
	'13031003100',
	'zhangsan@qq.com',
	'长坂坡',
	0);
