CREATE TABLE TRAFFIC (
	GJID char(16),
	GJMS char(16),
	SFJY float);
INSERT INTO TRAFFIC VALUES (
	'1',
	'火车',
	0);
INSERT INTO TRAFFIC VALUES (
	'2',
	'飞机',
	0);
INSERT INTO TRAFFIC VALUES (
	'3',
	'汽车',
	0);
